.container: table.table.table-bordered.homepage-bottom-table
  h3 BOTTOM_TABLE

  tr
    th
    th 机构名称
    th(colspan='3') 纸票报价
    th(colspan='3') 电票报价
  tr
    th(rowspan='3')
      div 银
      div 行
      div 直
      div 贴
    td 中国银行
    td 123
    td 123
    td 123
    td 123
    td 123
    td 123
  tr
    td 中国xx银行
    td 321
    td 321
    td 321
    td 321
    td 321
    td 321
  tr
    td 中国ff银行
    td 132
    td 132
    td 132
    td 132
    td 132
    td 132
  tr
    th(rowspan='3')
      div 机
      div 构
      div 买
      div 断
    td 中国cc银行
    td 312
    td 312312312312312312312312312312312312
    td 312
    td 312
    td 312
    td 312
  tr
    td 中国gg银行
    td 231
    td 231
    td 231
    td 231
    td 231
    td 231
  tr
    td 中国mm银行
    td 213
    td 213
    td 213
    td 213
    td 213
    td 213