table.table.table-hover
    h3 LEFT_TABLE
    tr
        td
            h4: a(href="#") 标题1
            small subtitle1
        td
            h4 标题2
            small subtitle2
        td
            h4 标题3
            small subtitle3
        td
            h4 标题4
            small subtitle4
    tr
        td
            h4: a(href="#") 标题1
            small subtitle1
        td
            h4 标题2
            small subtitle2
        td
            h4 标题3
            small subtitle3
        td
            h4 标题4
            small subtitle4
    tr
        td
            h4: a(href="#") 标题1
            small subtitle1
        td
            h4 标题2
            small subtitle2
        td
            h4 标题3
            small subtitle3
        td
            h4 标题4
            small subtitle4