.panel.panel-warning
  .panel-heading
    i.fa.fa-area-chart
    span 时时成交
  table.table.text-center.table-hover
    tr
      th.text-center 时间
      th.text-center 类型
      th.text-center 成交价
      th.text-center 成交量
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
    tr
      td 123
      td 123
      td 123
      td 123
