.homepage-bottom-table
    text-align center
    table-layout fixed
    word-break break-all
    th
    td
        text-align center !important
        vertical-align middle !important
    th:nth-child(1)
        width 50px
    th:nth-child(2)
        width 250px
