footer
  .container: .row
    .col-md-3.hidden-xs.hidden-sm: h1 LOGO
    .col-md-6: .row
      .col-xs-4
        ul 产品
          li: a(href="#") 产品1
          li: a(href="#") 产品2
          li: a(href="#") 产品3
          li: a(href="#") 产品4
      .col-xs-4
        ul 关于我们
          li: a(href="#") UINZ
          li: a(href="#") 管理团队
          li: a(href="#") 加入我们
          li: a(href="#") 联系我们
      .col-xs-4
        ul 资源
          li: a(href="#") 账户
          li: a(href="#") 客户支持
          li: a(href="#") 费用说明
          li: a(href="#") 法律和隐私
    .col-md-3.hidden-xs.hidden-sm
      .text-right: h1 RIGHT
  .copy-right Copyright © 1990 - #{new Date().getFullYear()} uinz 湘 ICP 备 13 号 - 1
