// 固定头部的
#sign-box
    position absolute
    width 400px
    right 100px
    top 100px
    background-color rgba(255,255,255,.23)
    padding 10px 20px 30px
    .btn
        margin-top 30px
        background transparent
        color #fff
        border 1px solid #fff
        &:hover
            background-color #fff
            color #3498db
    label
        color #fff
        font-weight 400
    .nav-tabs
        margin-bottom 20px
        border-bottom none
        li
            width 50%
            text-align center
            position relative
            &:after
                content ''
                position absolute
                height 3px
                width 100%
                margin-left -(@width/2)
                left 50%
                bottom 0
                transition all .5s
                background-color #fff
                opacity 0
                border-radius 5px
            &.active:after
                opacity 1
            a
                background-color transparent !important
                color #fff
                border none
                font-size 16px
                

// 弹窗的
#sign-pop-box
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    opacity 0
    visibility hidden
    transition all .5s
    z-index 3000
    .panel-body
        padding-top 0
    &.active
        visibility visible
        opacity 1
    .mask
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color rgba(0,0,0,.3)
    .panel
        position absolute
        width 360px
        left 50%
        margin-left -200px
        top 23%
    .panel-heading
        border-bottom 2px solid #3498db
        position relative
        font-size 16px
        cursor grab
        user-select none
        &:active
            cursor grabbing
        .fa-times
            position absolute
            height 44px
            width @height
            line-height @height
            right 0
            top 0
            cursor pointer
            color #7f8c8d
            font-size 20px
            transition all .5s
            &:hover
                color #e74c3c
    .btn
        margin-top 20px
    .form-group
        position relative
        margin-top 32px
        margin-bottom 16px
        &.active
            label
                line-height 32px
                transform translate(0, -32px)
        label
            top 0
            left 0
            margin 0
            transition all .5s
            position absolute
            font-weight 400
            line-height 34px
            transform translate(10px, 0)
            color #666