html
    height 100%
body
    padding-bottom 250px
    min-height 100%
    position relative

// clear outline
input
textarea
button
a
    outline none !important

// add transition
a
.btn
    transition background .5s, color .5s

tr
    transition background .5s

.top-alert
    position fixed
    border-top-right-radius 0
    border-bottom-right-radius 0
    top 100px
    right 0
    width auto
    z-index 999
