doctype html
html(lang='zh')
    head
        link(rel='icon' href='/icon.png')
        link(rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css')
        script(src='//cdn.bootcss.com/jquery/2.2.4/jquery.min.js')
        script(src='//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js')
        block title
            title Default title

    body
        block header
            include ../header.pug

        block content
            include ../footer.pug

        
