doctype html
html(lang='zh')
  head
    link(rel='icon' href='/icon.png')
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href='//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet')
    script(src='//cdn.bootcss.com/jquery/2.2.4/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='http://static.geetest.com/static/tools/gt.js')
    script(src='/javascripts/signbox.js')
    if user
      script.
        window.___user___ = !{JSON.stringify(user)}
    script.

    block title
      title Default title

  body
    block alert
      include ../alert.pug

    block header
      include ../header.pug

    block content
    
    block footer
      include ../footer.pug        
